.profile-container {
    background-color: #000; /* Black background */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* White text color */
  }
  
  .welcome-text {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .avatar-container {
    margin-bottom: 2rem;
  }
  
  .pet-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
  }
  
  .profile-info {
    text-align: center;
  }
  
  .name-input {
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
  }
  
  .action-button {
    background-color: #ff4500; /* Orange button color */
    color: #fff;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #ff6347; /* Slightly lighter orange on hover */
  }
  